body{
	width: 720px;
	padding: 54px;
	font-family: Lato;
	line-height: 1.5;
	border-left: solid #dddddd 6px;
}
.container{
	width: 720px;
	padding: 54px;
	line-height: 1.5;
}

h1 {
	color: #aa0000;
	font-weight: lighter;
}

h2 {
	color: black;
	font-weight: lighter;
}

h3 a {
	display: inline-block;
	text-decoration: underline;
	color: rgb(221, 221, 221);
	padding: 5px;
	font-weight: lighter;
}
a:hover {
	color: #aa0000;
}

a.alignright{
	color: #aa0000;
	text-decoration: none;
	padding-bottom: 20px;
	font-weight: bold;
}


.alignright {
  float: right;
  padding: 0 0 10px 10px;
}

.article{
	margin-top: 50px;
	border-bottom: solid #cccccc 1px;
}
.date{
	color: #cccccc;
	font-size: 20pt;
}

.sectiontitle{
	color:black;
	font-size: 20pt;
}
footer{
	padding-top: 30px;
}

footer a {
	color: #aa0000;
	display: inline-block;
	padding: 5px;
	text-decoration: none;
	border-right: solid #cccccc 1px;
}
#copyright{
	color: #bbbbbb
}