body{
	width: 720px;
	padding: 54px;
	font-family: Lato;
	line-height: 1.5;
}

h1 {
	color: #aa0000;
}
h2 {
	color: black;
}

h3 a {
	display: inline-block;
	text-decoration: underline;
	color: rgb(221, 221, 221);
	padding: 5px;
}

a.classarticle{
	color: #aa0000;
	text-decoration: none;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px;
}

.article{
	margin-top: 50px;
}
.date{
	color: #cccccc;
	font-size: 20pt;
}

.sectiontitle{
	color:black;
	font-size: 20pt;
}
