body{
	width: 720px;
	padding: 54px;
	font-family: Lato;
}

h1 {
	color: #aa0000;
}
h2 {
	color: black;
}

h3 a {
	display: inline-block;
	text-decoration: underline;
	color: #DDDDDD
}

a {
	color:  #DD0000
}
