/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  background-color: #f0efef;
}


}
.bodytext{
  color: #606161
  font-weight: 300;
  font-size: 24px;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 960px;
  margin: 0 auto;
}

header {
background-color: #033048;
height: 100px;
}

nav a{
  text-decoration: none;
  color: #f9e42e;
  font-weight: 600;
  font-size: 24px; 
  display: inline-block;
}

nav{
  float: right;
}
h1{
  font-weight: 800;
  background-color: #033048
  font-size:40px;
  color: white;
  float: left;
}
main{
  background-color: white;
}
.clearfix: after {
  content: "";
  display: table;
  clear: both;
}
aside {
  background-color: yellow;
  height: 100px;
  clear: both;
}

main article {
  float: left;
  width: 75%;
  height: 300px;
  background-color: gray;
  clear: none;
}
main aside{
  float: left;
  height: 300px;
  background-color: orange;
  width: 25%;
  clear: none;
}

footer {
background-color: black;
height: 100px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




