/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  background-color: #f0efef;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 960px;
  margin: 0 auto;
}

header {
background-color: #033048;
height: 100px;
}

nav a{
  text-decoration: none;
  color: #f9e42e;
  font-weight: 600;
  font-size: 24px; 
  display: inline-block;
}

nav{
  float: right;
}
h1{
  font-weight: 800;
  background-color: #033048
  font-size:40px;
  color: white;
  float: left;
}
main{
  background-color: #f0efef;
}
.clearfix: after {
  content: "";
  display: table;
  clear: both;
}
.maintitle{
  color: #033048;
  font-size: 40px;
  font-weight: 600;
  margin-top: 25px;
}
.bodytext{
  color: #606161;
  font-weight: 300;
  font-size: 24px;
}
.post{
  border-bottom: solid 2px #033048;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.readmore{
  color: #033048;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 25px;
}
.readmore a {
  text-decoration: none;
  float: right; 
  margin-bottom: 25px;
  margin-top: 25px;
}
.asidetitle{
  color: #033048;
  font-size: 32px;
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 15px;
}
.categorieslist{
  color: #033048;
  font-size: 24px;
  font-weight: 300;
}
.abouttext{
  font-weight: 300;
  font-size: 22px;
}
.learnmore{
  font-weight: 600;
  font-size: 24px;
  color: #033048;
  margin-bottom: 15px;
}
aside {
  background-color: yellow;
  width:  240px;
  clear: both;
}
main article {
  float: left;
  width: 75%;
  background-color: #f0efef;
  clear: none;
}
main aside{
  float: left;
  background-color: #f0efef;
  width: 25%;
  clear: none;
}
footer {
background-color: black;
height: 100px;
}
.button{
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  display: block;
  margin: 0 auto;
}
.blue{
  background-color: #033048;
  color: #fff;
  font-size: 24px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

